div {
	color: white;
}
@font-face {
	font-family: Undertale;
	src: url("DeterminationMonoWebRegular-Z5oq.ttf");
}

ul.navbar {
	list-style-type: none;
	position: fixed;
	width: 100%;
	margin: 0;
	padding-left: 242px;
	overflow: hidden;
	background-color: #333;
	font-size: 28px;
}
li.navbar {
	font-family: Undertale;
	float: left;
	border-left: 1px solid #bbb;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px 14px 8px 14px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
}

.castle {
	background-image:url("images/bg1.png");
    background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.navlogo {
	position: fixed;
	margin-top: 1px;
	margin-left: 5px;
	display: block;
}

body {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 75px;
	margin: 0;
	padding-top: 75px;
	text-align: center;
}
h2 {
	font-size: 50px;
	padding-left: 250px;
}
p {
	font-size: 25px;
	text-align: left;
	padding-left: 250px;
	padding-right: 250px;
}
.segment-headers, .time-output {
	font-size: 25px;
	text-align: left;
	padding-left: 250px;
	padding-right: 250px;
}
.time-output-final {
	font-size: 25px;
	text-align: left;
	padding-left: 250px;
	padding-right: 250px;
	padding-bottom: 50px;
}
